.contents {
  display: flex;
  flex-direction: column;
  height: 100vh; // 占满整个视口
  .view-header {
    flex: 0 0 3.125rem; // 高度固定50px
    // background-color: pink;
  }
  .panel-contents {
    display: flex;
    flex: 1; // 占据剩余空间
    overflow: hidden; // 避免页面出现滚动条
    .panel-menu {
      flex: 0 0 9.375rem;
      min-width: 9.375rem; // 保证宽度不会小于100px
      padding: 15px;
      overflow-y: auto; // 如果内容溢出，则显示竖向滚动条
      // @include custom-scrollbar;
    }

    .panel-show {
      flex: 1; // 占据剩余空间
      overflow-y: auto; // 如果内容溢出，则显示竖向滚动条
      background-color: skyblue;
      // @include custom-scrollbar;
    }
  }
}
