.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      gap: 20px;
    }
    a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
    }
  }

  .logo a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }
}
