.header {
  position: relative;
  top: 0;
  left: 0;
  padding: 1.25rem 0.625rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 55;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.25rem;
    .list-nav {
      display: inline-block;
      background-color: #f4f2ec;
      padding: 0.875rem 2.5rem;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      cursor: pointer;
      border-radius: 0.625rem;
      border: 2px dashed #f4f2ec;
      margin: 0 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      animation: slideTop 1s ease-in-out forwards;
      animation-delay: calc(0.2s * var(--i));
      &.active {
        background-color: #87dbd0;
      }
      &:hover {
        transition: 0.4s;
        border: 2px solid #00bfa6;
        background-color: #00bfa6;
        color: #fff;
      }
    }
    .more-svg {
      margin-right: 1.25rem;
      display: none;
      cursor: pointer;
    }
  }

  .logo {
    font-family: "Poppins" sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease-out forwards;
  }
}

@media (max-width: 35.5rem) {
  .header {
    .nav {
      .list-nav {
        display: none;
      }
      .more-svg {
        display: block;
        animation: slideTop 1s ease-in-out forwards;
        opacity: 0;
      }
    }
  }
  .list-nav {
    height: 3.125rem;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 0.875rem;
    border-radius: 0.3125rem;
    padding-left: 0.625rem;
    cursor: pointer;
    &:hover {
      background-color: #00bfa6;
      color: #fff;
    }
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-6.25rem);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(3.125rem);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
