.main-banner {
  display: flex;
  width: 100%;
  height: 43.75rem;
  align-items: center;
  justify-content: space-between;
  .right-img {
    height: 100%;
    margin-right: 3.125rem;
    img {
      height: 100%;
      width: auto;
    }
  }
  .effect-box {
    margin-left: 10%;
    font-weight: 700;
    .effect-title {
      font-size: 5.625rem;
      margin-bottom: 1.25rem;
    }
  }
}
